<h1>App.component.html</h1>

<div *ngIf="false">
    <p>{{ title }}</p>
    <h3>{{ 2+2 }}</h3>

    <!-- property binding: []-->
    <p [class]="title">Année: {{ year + 1 }}</p>

    <!-- event binding: () -->
    <button (click)="onClick()">Click me</button>

    <!-- directives -->
    <p *ngIf="isOk">Je suis visible</p>
    <p *ngFor="let student of students">{{ student }}</p>

    <app-child></app-child>
    <exos-exo1></exos-exo1>
    <exos-code-generator></exos-code-generator>
    <exos-quote [speed]="1000"></exos-quote>
    <app-students></app-students>
    <app-student-list></app-student-list>
</div>

<app-choice></app-choice>






